<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aakash.sptbi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sptbi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".ProfilePage" />
        <activity android:name=".AskHelp" />
        <activity android:name=".SubmitSuccessful" />
        <activity android:name=".Pending" />
        <activity
            android:name=".AccountsPage"
            android:label="@string/title_activity_accounts_page"
            android:theme="@style/AppTheme" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".Management"
            android:label="@string/title_activity_management"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Managment_Fragment"
            android:label="@string/title_activity_managment__fragment"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".Management_Fragment_Student"
            android:label="@string/title_activity_management__fragment__student"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>